.select input {
    border-bottom: none !important;
    height: 34px !important;
    margin: 0 0 0 8px !important;
    padding: 0 !important;
    font-size: 14px !important;
}

h2{
    text-align: center;
}


table {
    width: 200px;
    border-collapse: collapse;
    border: 3px solid rgb(80, 80, 80);
  }
  
  table th {
    text-transform: uppercase;
    text-align: left;
    background: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
    padding: 8px;
    min-width: 30px;
  }
  
  table td {
    text-align: left;
    padding: 8px;
    border-right: 2px solid rgb(163, 163, 163);
  }
  table td:last-child {
    border-right: none;
  }
  table tbody tr:nth-child(2n) td {
    background: rgb(201, 201, 201);
  }