.select input {
    border-bottom: none !important;
    height: 34px !important;
    margin: 0 0 0 8px !important;
    padding: 0 !important;
    font-size: 14px !important;
}

h2{
    text-align: center;
}

.minheight {
  min-height: 10px
}